{% extends '@LeaptCore/Datalist/datalist_grid_layout.html.twig' %}

{# datalist grid block #}
{% block datalist %}
    {% if datalist.option('search') %}
        {{ datalist_search(datalist) }}
    {% endif %}
    {% if datalist.filterable %}
        <div class="row">
            <div class="col-xs-12 col-md-9">
                {{ block('datalist_tiled') }}
            </div>
            <div class="col-xs-12 col-md-9">{{ datalist_filters(datalist) }}</div>
        </div>
    {% else  %}
        {{ block('datalist_tiled') }}
    {% endif %}

    {% if datalist.paginator is not null %}
        {{ paginator_widget(datalist.paginator) }}
    {% endif %}
{% endblock datalist %}

{# datalist tiled block #}
{% block datalist_tiled %}
    <ul class="thumbnails">
        {% for item in datalist %}
            <li class="col-xs-3">
                <div class="thumbnail">
                    {% for field in datalist.fields %}
                        {% if field.type.name == 'image' %}
                            {{ datalist_field(field, item) }}
                        {% endif %}
                    {% endfor %}
                    <div class="caption">
                        {% for field in datalist.fields %}
                            {% if field.type.name != 'image' %}
                                {{ datalist_field(field, item) }}
                            {% endif %}
                        {% endfor %}
                        <p>
                            {% if datalist.actions|length > 0 %}
                                {% for action in datalist.actions %}
                                    {{ datalist_action(action, item) }}{% if not loop.last %} {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock datalist_tiled %}

{# text field #}
{% block text_field %}
    {#<h4>{{ field.options['label']|trans({}, translation_domain) }}</h4>#}
    <p>
        {% if value is not null %}
            {% if options.escape %}{{ value }}{% else %}{{ value|raw }}{% endif %}
        {% else %}
            <span class="empty-value">{{ 'datalist.empty_value'|trans({}, 'LeaptCoreBundle') }}</span>
        {% endif %}
    </p>
{% endblock text_field %}

{# datetime field #}
{% block datetime_field %}
    <div class="pull-right label">
        {% if value is not null %}
            {{ value|date(options['format'])  }}
        {% else %}
            <span class="empty-value">{{ 'datalist.empty_value'|trans({}, 'LeaptCoreBundle') }}</span>
        {% endif %}
    </div>
{% endblock datetime_field %}

{# label field #}
{% block label_field %}
    {% set attr = attr|default({'class': 'label'}) %}
    <span{{ block('widget_attributes') }}>{{ value|trans({}, translation_domain) }}</span>
{% endblock label_field %}


{# image field #}
{% block image_field %}
    {% if value is not null %}
        <img src="{{ asset(value)|imresize('admin_thumb') }}" data-src="{{ asset(value) }}" alt="{{ field.options['label']|trans({}, translation_domain) }}"/>
    {% else %}
        <img src="http://placehold.it/260x180" alt="{{ field.options['label']|trans({}, translation_domain) }}"/>
    {% endif %}
{% endblock image_field %}

{# url field #}
{% block url_field %}
    <p>
        {% if value is not null %}
            <a href="{{ url is defined ? url : value }}">{{ value }}</a>
        {% else %}
            <span class="empty-value">{{ 'datalist.empty_value'|trans({}, 'LeaptCoreBundle') }}</span>
        {% endif %}
    </p>
{% endblock url_field %}