<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ feed.title }}</title>
        <link>{{ url('snowcap_core_feed', {'feedName': feedName}) }}</link>
        <description>{{ feed.description }}</description>
        <language>{{ locale }}</language>
        <pubDate>{{ feed.updatedAt|date(constant('DATE_RSS')) }}</pubDate>
        {% for item in items %}
            <item>
                <title>{{ item.title }}</title>
                <link>{{ item.link }}</link>
                <description>{{ item.description }}</description>
                <pubDate>{{ item.createdAt|date(constant('DATE_RSS')) }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>